# atlas-osb
# e2e VMware TAS
# An end-to-end deployment of atlas-osb to a Pivotal pie environment.

on:
  push:
    branches:
  workflow_dispatch:

name: e2e VMware TAS

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v1
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.28

          # Optional: working directory, useful for monorepos
          # working-directory:

          args: --timeout 10m
          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # only-new-issues: true

  shellcheck:
    name: shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Run ShellCheck
        uses: bewuethr/shellcheck-action@v2

  basic-plan-cloudfoundry:
    name: basic-plan-cloudfoundry
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1

      - name: Create CF org, space, broker, service and push app
        id: prepare
        uses: ./.github/actions/e2e-cf
        with:
          cf_api: ${{ secrets.CF_API }}
          cf_user: ${{ secrets.CF_USER }}
          cf_password: ${{ secrets.CF_PASSWORD }}
          atlas_project_id: ${{ secrets.ATLAS_PROJECT_ID }}
          atlas_project_id_bay: ${{ secrets.ATLAS_PROJECT_ID_BAY }}
          atlas_public_key: ${{ secrets.ATLAS_PUBLIC_KEY }}
          atlas_private_key: ${{ secrets.ATLAS_PRIVATE_KEY }}
          credhub_file: ${{ secrets.CREDHUB_FILE }}
          atlas_org_id: ${{ secrets.ATLAS_ORG_ID }}

      - name: Cleanup ENV for current branch
        uses: ./.github/actions/cleanup-cf
        with:
          cf_api: ${{ secrets.CF_API }}
          cf_user: ${{ secrets.CF_USER }}
          cf_password: ${{ secrets.CF_PASSWORD }}
