# Separate manual

on:
    workflow_dispatch:

name: Check users

jobs:
  check-users:
    name: basic-plan-cloudfoundry
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1

      - name: Wait for other CI to finish
        uses: softprops/turnstyle@v1
        with:
          poll-interval-seconds: 10
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create CF org, space, broker, service and push app
        id: prepare
        uses: ./.github/actions/e2e-cf
        with:
          cf_api: ${{ secrets.CF_API }}
          cf_user: ${{ secrets.CF_USER }}
          cf_password: ${{ secrets.CF_PASSWORD }}
          atlas_project_id: ${{ secrets.ATLAS_PROJECT_ID }}
          atlas_project_id_bay: ${{ secrets.ATLAS_PROJECT_ID_BAY }}
          atlas_public_key: ${{ secrets.ATLAS_PUBLIC_KEY }}
          atlas_private_key: ${{ secrets.ATLAS_PRIVATE_KEY }}
          credhub_file: ${{ secrets.CREDHUB_FILE }}
          atlas_org_id: ${{ secrets.ATLAS_ORG_ID }}

      - name: Check users
        id: prepare
        uses: ./.github/actions/test-users
        with:
          cf_api: ${{ secrets.CF_API }}
          cf_user: ${{ secrets.CF_USER }}
          cf_password: ${{ secrets.CF_PASSWORD }}
          atlas_public_key: ${{ secrets.ATLAS_PUBLIC_KEY }}
          atlas_private_key: ${{ secrets.ATLAS_PRIVATE_KEY }}
          credhub_file: ${{ secrets.CREDHUB_FILE }}
          atlas_org_id: ${{ secrets.ATLAS_ORG_ID }}

      - name: Cleanup ENV for current branch
        uses: ./.github/actions/cleanup-cf
        with:
          cf_api: ${{ secrets.CF_API }}
          cf_user: ${{ secrets.CF_USER }}
          cf_password: ${{ secrets.CF_PASSWORD }}
